#firstimg {
  display: block;
  margin-right: auto;
  margin-top:30px;
}
.main-header {
  font-family: Arial, Helvetica, sans-serif;
  display:block;
  background-color: cadetblue;
  padding-bottom:0px;
  padding-top:3px;
}
.nav-img {
  border-radius:50%;
  margin-top:0;
  margin-top:30px;

}
#profile{
  text-align: end;
  border-radius:50%;
  height:250px;
  margin-top:10px;
  margin-right:70px;
}
body {
  background-color: rgb(178, 208, 209);
  margin:0;
  padding:0;
  text-align: center;
}
.hire{
  color: black;
  background-color: cadetblue;
  width: 100px;
  height: 60px;
  justify-content: center;
}
.projects{
  display:block;
}
.rows{
  display:flex;
  gap:20px;
  justify-content: center;
}
nav{
  display:flex;
  justify-content:space-between ;
  align-items: flex-start;
}
nav ul{
  display:flex;
  list-style-type:none;
  gap:280px;
  margin:0;
  padding:0;
  top:0;
}
.middle{
  display:block;
  text-align: center;
  margin-bottom:150px;
}

#bio {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
#info {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
#contact {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  top: 250px;
  right: 20px;
}
.hobbies {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  top: 250px;
  right: 20px;
}
.skills {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  position: absolute;
  top: 250px;
  right: 20px;
}
h2 {
  font-family: Arial, Helvetica, sans-serif;
}
p{
  font-family: Arial, Helvetica, sans-serif;
}
.fa-user{
  font-size:250%;
}
.fa-envelope{
  font-size:250%;
}
.fa-phone{
  font-size:250%;
}
.fa-message{
  font-size:250% ;
}
.icon{
  text-align: center;
}
.fa-html5{
  font-size: 400%;
}
.fa-css3{
  font-size:400%;
}
.fa-square-js{
  font-size:400%;
}
.fa-react{
  font-size:400%;
}
.fa-github{
  font-size:200%;
}
.fa-link{
  font-size:200%;
}